/* resets */

input[type="search"] {
    -webkit-appearance: none;
}

a {
    text-decoration: none;
    color: initial;
}

/* global styles */

html {
    font-family: Arial, sans-serif;
    font-size: 100%;
    box-sizing: border-box;
}

nav ul, button {
    color: #3e3d45;
}

/* link styles */

nav a:hover, a#lang:hover, footer a:hover {
    text-decoration: underline;
}

/* nav styles */

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1em;
}

nav ul li {
    display: block;
    padding: .5em .7em;
    font-size: .8em;
}

li#user {
    background-color: #0097a7;
    color: #ffffff;
    border-radius: 50%;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
}

/* logo styles */

img, input[type="search"] {
    display: block;
    margin: 0 auto;
}

img { margin-top: 150px; }

/* search bar styles */

input[type="search"] {
    margin-top: 2rem;
    font-size: 1.2em;
    padding: .5em 2.5em;
    border: 1px solid #dfe1e5;
    border-radius: 1.1em;
    width: 500px;
    background-image: url(images/magglass.png), url(images/mic.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 1em, .75em;
    background-position: 3% 50%, 97% 50%;
}

input[type="search"]:hover {
    box-shadow: #dfe1e5 0px 0px 10px;
}

/* button styles */

#button-container {
    display: flex;
    justify-content: center;
}

button {
    border: none;
    font-size: 0.9em;
    color: #3e3d45;
    background-color: #f8f9fa;
    border: 1px solid transparent;
    margin: 2em .4em;
    padding: 0.8em 1.5em;
    border-radius: 5px;
    cursor: pointer;
}

button[type=submit] {
    text-transform: capitalize;
}

button:hover {
    border: 1px solid #dfe1e5;
    color: #000000;
    box-shadow: #dfe1e5 0px 2px 5px;
}

/* language select styles */

p#lang-select {
    text-align: center;
    font-size: .8em;
}

a#lang {
    display: inline-block;
    margin-left: .3em;
    color: #2845d2;
}

/* footer styles */

footer {
    position: absolute;
    bottom: 0; 
    width: 100%;
    font-size: .9em;
    background-color: #f2f2f2;
    border-top: 1px solid #d3d3d3;
}

#footer-links-container {
    border-top: 1px solid #d3d3d3;
}

footer p, footer a {
    color: #6f6f6f;
}

p#country {
    display: block;
    margin-left: 1em;
}
#footer-container {
    display: flex;
    flex-direction: column;
}

#footer-links-container {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
}

ul#footer-info-links, ul#footer-settings-links {
    display: flex;
    justify-content: space-evenly;
}

footer p#country, #footer-links-container li {
    padding: 1em;
}

ul#footer-info-links li:first-child {
    padding-left: 2em;
}

ul#footer-settings-links li:last-child {
    padding-right: 2em;
}

/* responsive rules */

@media only screen and (max-width: 805px) {
    #footer-links-container {
        flex-direction: column-reverse;
    }

    ul#footer-info-links, ul#footer-settings-links {
        justify-content: center;
    }
}

@media only screen and (max-height: 768px) {
    img { margin-top: 50px; }
}

@media only screen and (max-height: 575px) {
    footer {
        position: initial;
        bottom: initial;
    }
        
    p#lang-select {
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 550px) {
    input[type="search"] {
        max-width: 100%;
        margin-left: 25px;
        margin-right: 25px;
    }
}

@media only screen and (max-height: 536px) {
    img {
        margin-top: 0;
        width: 220px;
        height: auto;
    }

    footer {
        position: absolute;
        bottom: 0;
    }
}

@media only screen and (max-height: 468px) {
    footer {
        position: initial;
        bottom: initial;
    }
        
    p#lang-select {
        margin-bottom: 13px;
    }
}